li{list-style-type:none;}
li:hover{
background-color:#595959}
a:link{color:white;text-decoration:none}
a:visited{color:white;text-decoration:none}
a:active{color:white;text-decoration:none}
table {
color:white;
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td{
    border: 0px;
    text-align: left;
    padding: 8px;
}
tr{
    border: 1px solid white;
    text-align: left;
    padding: 8px;
}

th{
color: black;
border: 0px ;
    text-align: left;
    padding: 8px;
    background-color: white;
}
a:hover{
background-color:#595959}
a:link{color:white;text-decoration:none}
a:visited{color:white;text-decoration:none}
a:active{color:white;text-decoration:none}
#nav
{color:white;

line-height:30px;
background-color:#262626;
height:100%;
width:15%;
float:left;
padding:5px;
}
#section
{
background-image: url("artist.jpg");
font-family:"Arial";
color:white;
height:100%;
background-color:black;
width:82%;
float:left;
padding:0px;
overflow: hidden
}
/*#footer
{

background-color:black;
color:white;
clear:both;
text-align:center;
padding:5px;
}*/

